<div class="container mt-5" *ngIf="cart.length">
  <div class="row">
    <div class="col-6 d-flex flex-wrap">
      <app-cart-list [cart]="cart" (cartChange)="updateTotal($event)" class="d-flex flex-wrap"></app-cart-list>
    </div>
    <div class="col-6">
      <form
        [formGroup]="paymentForm"
        class="d-flex flex-column justify-content-center mt-5"
      >
        <mat-form-field class="mb-3" appearance="fill">
          <mat-label>Full name</mat-label>
          <input
            type="text"
            matInput
            formControlName="fullName"
            minlength="3"
            placeholder="(Minimum 3 characters)"
          />
          <mat-error
            *ngIf="
              getCtrl('fullName').invalid &&
              (getCtrl('fullName').dirty || getCtrl('fullName').touched)
            "
          >
            <p *ngIf="getCtrl('fullName'); hasError: 'minLength'">
              Please enter a valid Full name
            </p>
            <p *ngIf="getCtrl('fullName').hasError('required')">
              Full name is <strong>required</strong>
            </p>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="mb-3" appearance="fill">
          <mat-label>Address</mat-label>
          <input
            type="text"
            matInput
            formControlName="address"
            minlength="3"
            placeholder="(Minimum 3 characters)"
          />
          <mat-error
            *ngIf="
              getCtrl('address').invalid &&
              (getCtrl('address').dirty || getCtrl('address').touched)
            "
          >
            <p *ngIf="!getCtrl('address').hasError('minLength')">
              Please enter a valid Address
            </p>
            <p *ngIf="getCtrl('address').hasError('required')">
              Address is <strong>required</strong>
            </p>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="mb-3" appearance="fill">
          <mat-label>Credit Card Number</mat-label>
          <input
            type="text"
            matInput
            minlength="16"
            maxlength="16"
            formControlName="creditCardNumber"
            placeholder="(16-digit numbers)"
          />

          <mat-error
            *ngIf="
              getCtrl('creditCardNumber').invalid &&
              (getCtrl('creditCardNumber').dirty ||
                getCtrl('creditCardNumber').touched)
            "
          >
            <p
              *ngIf="
                !getCtrl('creditCardNumber').hasError('minLength') &&
                !getCtrl('creditCardNumber').hasError('maxLength')
              "
            >
              Please enter a valid Credit Card Number
            </p>
            <p *ngIf="getCtrl('creditCardNumber').hasError('required')">
              Credit Card Number is <strong>required</strong>
            </p>
          </mat-error>
        </mat-form-field>

        <mat-hint class="mb-3"
          >We will nerver share your payment details with anyone else.</mat-hint
        >

        <button
          mat-raised-button
          color="primary"
          [disabled]="paymentForm.invalid"
          (click)="submit()"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
  <div class="row" *ngIf="total">
    <div class="col-12 large-font mt-5">
      total: $ {{ total | number: "1.2" }}
    </div>
  </div>
</div>

<div class="text-center large-font my-5" *ngIf="!cart.length">
  Cart is Empty!
</div>
